name: Testing the first CI-CD setup

on:
  push:
    branches:
      - development

jobs:
  build:
    name: Build & Install
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Verify virtual environment
        run: |
          if [ ! -x "/home/prajwal/py-venv/bin/python" ]; then
            echo "py-venv is missing or broken"
            exit 1
          fi

      - name: Install dependencies
        run: |
          cd /home/prajwal/ci-cd-test/privacy-policy
          /home/prajwal/py-venv/bin/python -m pip install --upgrade pip
          /home/prajwal/py-venv/bin/pip install -r requirements.txt

      - name: Test imports
        run: |
          /home/prajwal/py-venv/bin/python -c "import sqlalchemy, pandas; print('OK')"

  dev_deploy:
    name: Deploy
    runs-on: self-hosted
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Deploy
        run: |
          cd /home/prajwal/ci-cd-test/privacy-policy
          pwd
          echo "Deployment completed"
          
